{% extends "templates/login.html" %}
{% set announcement_login = 'Powered by Google cloud, URL: https://server.enki-portal.org/' %}

<style>
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}

p,li {
	font-size:18px;
	line-height:1.5;
}
</style>

{% block login %}
<div style="background: #F37524;color: #fff; text-align: center; font-size: 36px; margin: 50px 100px 25px; padding: 25px 25px 25px;">
<h1 style="padding:25px">ENKI Cloud Server</h1>
</div>
<div style="text-align: center;">
  <div style="text-align: left; display: inline-block;">
    <h2>Welcome to ENKI server!</h2>
    <p>Welcome to the ENKI server, where we <em>model at the speed of thought</em>. </p>
    <h3>Documentation</h3>
    <ul>
      <li><a href="https://enki-portal.gitlab.io/geothermodat/">Geothermodat</a></li>
      <li><a href="https://enki-portal.gitlab.io/ThermoEngine/">Thermoengine</a></li>
    </ul>
    <h3>Other links</h3>
    <ul>
      <li><a href="https://enki-portal.org/">ENKI Portal website</a></li>
      <li><a href="https://www.youtube.com/channel/UCJSeYpnbGcxv8WLrDEN383A?view_as=subscriber">ENKI YouTube channel (tutorials)</a></li>
      <li><a href=" https://twitter.com/ENKIportal">Twitter</a></li>
    </ul>
    <p>Questions? Contact <a href="mailto:ghiorso@ofm-research.org">administrator</a>.</p>
    <table>
      <tr>
        <td bgcolor="#ffffff">
        </td>
      </tr>
    </table>
  </div>
</div> <!-- row -->
{{ super() }}
{% endblock %}

{% block script %}
{{ super() }}

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) { 
  var x = document.getElementsByClassName("service-login");
  x[0].style.verticalAlign = "baseline";
  var y = document.getElementsByClassName("container");
  y[1].style.margin = "50px";
});
</script>

{% endblock %}
